@model Inzynierka.ViewModel.Calendar.CalendarEntryEditViewModel

@{
    ViewBag.Title = @Inzynierka.Resources.Strings.Resource.CreateHeader;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Inzynierka.Resources.Strings.Resource.CreateHeader</h2>


@using ( Html.BeginForm( "SaveActivity", "Calendar" ) )
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-horizontal">
            @Html.ValidationSummary( true, "", new
   {
       @class = "text-danger"
   } )
            @Html.HiddenFor( model => model.Id )
            @Html.HiddenFor( model => model.UserId )

            <div class="form-group">
                @Html.LabelFor( model => model.ActivityName, htmlAttributes: new
       {
           @class = "control-label col-md-2"
       } )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.ActivityName, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"
               }
           } )
                    @Html.ValidationMessageFor( model => model.ActivityName, "", new
           {
               @class = "text-danger"
           } )
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor( model => model.Date, htmlAttributes: new
       {
           @class = "control-label col-md-2"
       } )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.Date, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"
               }
           } )
                    @Html.ValidationMessageFor( model => model.Date, "", new
           {
               @class = "text-danger"
           } )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor( model => model.Description, htmlAttributes: new
       {
           @class = "control-label col-md-2"
       } )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.Description, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"
               }
           } )
                    @Html.ValidationMessageFor( model => model.Description, "", new
           {
               @class = "text-danger"
           } )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor( model => model.Type, htmlAttributes: new
       {
           @class = "control-label col-md-2"
       } )
                <div class="col-md-10">
                    @Html.DropDownListFor( model => model.Type, @Model.ActivityTypes, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"
               }
           } )
                    @Html.ValidationMessageFor( model => model.Type, "", new
           {
               @class = "text-danger"
           } )
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Inzynierka.Resources.Strings.Resource.SaveText" class="btn btn-default" />
                </div>
            </div>
        </div>
      </div>
}

<div>
    @Html.ActionLink( @Inzynierka.Resources.Strings.Resource.BackText, "Index" )
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
