@model Inzynierka.Models.ActivityPlan

@{
    ViewBag.Title = @Inzynierka.Resources.Strings.Resource.DeleteText;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Inzynierka.Resources.Strings.Resource.DeleteText</h2>
<h3 style="color: limegreen">@Model.ActivityName</h3>
<h3>@Inzynierka.Resources.Strings.Resource.DeleteConfirmationText</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Inzynierka.Resources.Strings.Resource.DateLabel
        </dt>

        <dd>
            @Model.Date.Value.ToString( "dd MMMM yyyy, dddd" )
        </dd>

        <dt>
            @Inzynierka.Resources.Strings.Resource.DescriptionLabel
        </dt>

        <dd>
            @Model.Description
        </dd>

        <dt>
            @Inzynierka.Resources.Strings.Resource.ActivityType
        </dt>

        <dd>
            @switch ( ( int ) @Model.Type )
            {
                case 1:
                    {
                    @Inzynierka.Resources.Strings.Resource.PublicationText;
                        break;
                    }
                case 2:
                    {
                    @Inzynierka.Resources.Strings.Resource.DeadlineText;
                        break;
                    }
                case 3:
                    {
                    @Inzynierka.Resources.Strings.Resource.ReviewText;
                        break;
                    }
                case 4:
                    {
                    @Inzynierka.Resources.Strings.Resource.StartWritingText;
                        break;
                    }
            }
        </dd>
    </dl>

    @using (Html.BeginForm( "DeleteActivity", "Calendar" ) ) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor( model => model.Id )

        <div class="form-actions no-color">
            <input type="submit" value="@Inzynierka.Resources.Strings.Resource.DeleteText" class="btn btn-danger" /> |
            @Html.ActionLink(@Inzynierka.Resources.Strings.Resource.BackText, "Index")
        </div>
    }
</div>
