@model Inzynierka.Models.ActivityPlan

@{
    ViewBag.Title = @Model.ActivityName + " - " + @Inzynierka.Resources.Strings.Resource.DetailsHeader;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: limegreen">@Model.ActivityName</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Inzynierka.Resources.Strings.Resource.DateLabel
        </dt>

        <dd>
            @Model.Date.Value.ToString("dd MMMM yyyy, dddd")
        </dd>

        <dt>
            @Inzynierka.Resources.Strings.Resource.DescriptionLabel
        </dt>

        <dd>
            @Model.Description
        </dd>

        <dt>
            @Inzynierka.Resources.Strings.Resource.ActivityType
        </dt>

        <dd>
            @switch ( (int)Model.Type )
            {
                case 1:
                    {
                        @Inzynierka.Resources.Strings.Resource.PublicationText;
                        break;
                    }
                case 2:
                    {
                        @Inzynierka.Resources.Strings.Resource.DeadlineText;
                        break;
                    }
                case 3: 
                    {
                        @Inzynierka.Resources.Strings.Resource.ReviewText;
                        break;
                    }
                case 4: 
                    {
                         @Inzynierka.Resources.Strings.Resource.StartWritingText;
                        break;
                    }    
            }
        </dd>

        <dt>
            @Inzynierka.Resources.Strings.Resource.RelatedWorkText
        </dt>

        <dd>
            @Model.WorkId
        </dd>
    </dl>
</div>
<p>
    @if ( @ViewBag.CanEdit )
    {

        @Html.ActionLink( @Inzynierka.Resources.Strings.Resource.EditHeader, "Edit", new
        {
            id = Model.Id.ToString()
        } );
        @Html.Raw( "|" );
        @Html.ActionLink( @Inzynierka.Resources.Strings.Resource.BackText, "Index" )
    }
    
</p>
