@using System.Web.Razor.Parser

@model Inzynierka.ViewModel.Calendar.CalendarListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(@Inzynierka.Resources.Strings.Resource.CreateHeader, "Create")
</p>
<table
    style="border-width: 0;"
    class="table">
    <tr>
        <th>
            Activity name
        </th>
        <th>
            Date
        </th>
        <th>
            
        </th>
    </tr>

@if ( @Model.HasTodayEvents )
{
    <tr>
        <td colspan="3">
            <header>
                @Inzynierka.Resources.Strings.Resource.TodayLabel
            </header>
        </td>
    </tr>
    foreach ( var item in Model.TodayItems )
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Date
                (
                @switch ( @item.Type )
                {
                    case 1:
                        {
                        @Inzynierka.Resources.Strings.Resource.PublicationText;
                            break;
                        }
                    case 2:
                        {
                        @Inzynierka.Resources.Strings.Resource.DeadlineText;
                            break;
                        }
                    case 3:
                        {
                        @Inzynierka.Resources.Strings.Resource.ReviewText;
                            break;
                        }
                    case 4:
                        {
                        @Inzynierka.Resources.Strings.Resource.StartWritingText;
                            break;
                        }
                }
                )
            </td>
            <td>
                @Html.ActionLink( @Inzynierka.Resources.Strings.Resource.EditHeader, "Edit", new
           {
               id = item.Id
           } ) |
                @Html.ActionLink( @Inzynierka.Resources.Strings.Resource.DetailsHeader, "Details", new
           {
               id = item.Id 
           } ) |
                @Html.ActionLink( "Delete", "Delete", new
           {
               id = item.Id
           } )
            </td>
        </tr>
    
    }
}
    

</table>
